@import "@/styles/mixins.scss";

.section {
  padding-bottom: 120px;
  // padding-top: 104px;
}

.title {}

.ourWorks {
  margin-bottom: 64px;
}

.ourWorksTop {
  text-align: center;
  margin-bottom: 120px;

  @include respond-to("sm") {
    margin-bottom: 40px;

  }

  .text {
    color: var(--colors-white);
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 24px;

    @include respond-to("sm") {
      text-align: center;
      font-family: 'Play';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 100% */
      letter-spacing: -0.4px;
      margin-bottom: 16px;
    }
  }

  .checkOut {
    display: flex;
    justify-content: center;

    .checkOutDesc {
      color: var(--primary);
      max-width: 770px;
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;

      @include respond-to("sm") {
        text-align: center;
        font-family: Play;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}

.block {
  // background-color: grey;
  position: relative;
  max-width: 570px;

  .content {
    padding: 345px 30px 24px 30px;
    position: relative;
    z-index: 1;
    transition: 0.5s;

    .contentImg {
      max-width: 570px;
      height: 100px;
    }

  }
}

.containerBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 32px;

  @include respond-to("lg") {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

// .colon {
//   display: flex;
//   flex-wrap: wrap;

//   // @media screen and (max-width: 1200px) {
//   //   justify-content: center;
//   // }
//   .colonBlock {
//     max-width: 585px;
//     height: 352px;
//     position: relative;
//     transition: 0.5s;

//     // @media (max-width: 350px) {
//     //   height: 232px;
//     // }

//     .colorFill {
//       position: absolute;
//       max-width: 100%;
//       width: 100%;
//       z-index: 0;
//       max-width: 570px;

//       // @media (max-width: 350px) {
//       //   height: 232px;
//       // }
//       // &.ratated {
//       //   transform: rotate(180deg);
//       // }
//     }
//     // &:hover {
//     //   .colorFill {
//     //     path {
//     //       fill-opacity: 0;
//     //     }
//     //   }
//     // }

//   }
// }

// .content {
//   position: absolute;
//   padding: 350px 30px 24px 30px;
//   transition: 0.5s;

//   .title {
//     color: var(--colors-white);
//     font-size: 22px;
//     line-height: 24px;
//     font-weight: 700;
//     margin-bottom: 16px;
//     // @media (max-width:552px) {
//     //     font-size: 18px;
//     //     margin-bottom: 8px;
//     //   }
//   }
//   .description {
//     color: var(--colors-white);
//     font-size: 16px;
//     line-height: 24px;
//     margin-bottom: 16px;
//     // @media (max-width:552px) {
//     //     font-size: 12px;
//     //     margin-bottom: 8px;
//     //     line-height: 16px;
//     //   }
//   }
//   .tag {
//     display: flex;
//     color: var(--C2-A);
//     font-size: 14px;
//     line-height: 16px;
//     font-weight: 700;
//     letter-spacing: 2px;
//     text-transform: uppercase;
//     // @media (max-width:552px) {
//     //     font-size: 10px;
//     //   }
//   }
// }