// $red-color: #C2252C;
// $orange-color: #ED8127;

.containerNav {
  max-width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menuIcon {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      height: 15px;
      width: 24px;
      position: relative;
      cursor: pointer;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &.active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
}

.linksItem {
  @media (max-width: 1024px) {
    display: flex;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    background-color: var(--C1-A-to-C1-B);
    z-index: 10;
    overflow: auto;
    padding: 20px 0;
    transition: 0.5s;
    &.active {
      left: 0;
      + .btn {
        left: 0;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -4.886rem + 9.09vw, 1.875rem);
    margin-right: 7px;
    @media (max-width: 1024px) {
      flex-direction: column;
      margin: auto;
      white-space: nowrap;
    }
    .item {
      color: var(--primary);
      @media (max-width: 1024px) {
        line-height: 50px;
        font-size: 30px;
      }
      @media (max-width: 425px) {
        line-height: 50px;
        font-size: 20px;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 5px;

  @media (max-width: 1024px) {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50px;
    left: -100%;
    width: 80%;
    padding: 20px 0;
    transition: 0.5s;
    z-index: 10;
    &.active {
      left: 0;
    }
  }
  @media (max-width: 425px) {
    flex-direction: column-reverse;
  }
}
