.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  align-items: center;
  gap: 30px;
}
$red-color: #C2252C;
$orange-color: #ED8127;
.btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
  