@import "@/styles/mixins.scss";

.header {
    background-color: var(--primary-bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: .3s all ease;
    z-index: 20;
}
