:root {
  --max-width: 1170px;
  --border-radius-s: 30px;
}

html {
  --C1-A: rgb(36, 40, 52);
  --C1-B: rgb(157, 163, 183);
  --C2-A: #ed8127;
  --C2-B: #c2252c;
  --C3-A: #1f1f1f;
  --colors-white: #fff;
  --stop-color: #fff;
  --primary: #ffffff;
  --primary-bg: #0a0a0a;
  --text-light: rgba(255, 255, 255, 0.8);
  --text-dark: rgba(10, 10, 10, 0.8);
  --main-bg: url("../media/img/home/SlySoft-Background.jpg") center/cover
    no-repeat fixed;
  --services-bg: url("../media/ServicesBg.png") center/cover no-repeat;
  --hero-bg: linear-gradient(0deg, #0b0b0b 0%, rgba(0, 0, 0, 0) 100%);
  --bttn: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      180deg,
      rgba(194, 37, 44, 0.8) 0%,
      rgba(237, 129, 39, 0.8) 1360%
    );
  --opacity: 0.5;
}

html[data-theme="dark"] {
  --C1-A-to-C1-B: var(--C1-A);
  --primary: #ffffff;
  --primary-bg: #0a0a0a;
  --stop-color: #fff;
  --text-light: rgba(255, 255, 255, 0.8);
}

html[data-theme="light"] {
  --C1-A-to-C1-B: var(--C1-B);
  --primary: #0a0a0a;
  --primary-bg: #ffffff;
  --colors-white: #0a0a0a;
  --stop-color: #696969;
  --text-light: rgba(10, 10, 10, 0.8);
  --C3-A: #f5f5f5;
  --main-bg: url("../media/img/home/SlySoft-Background-light.jpg") center/cover
    no-repeat fixed;
  --services-bg: url("../media/ServicesBgSecond.png") center/cover no-repeat;
  --hero-bg: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  --opacity: 0.8;
}
