@font-face {
  font-family: "Play";
  src: url("../../public/fonts/Play/Play-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("../../public/fonts/Play/Play-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dm";
  src: url("../../public/fonts/Dm/dm-sans-bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dm";
  src: url("../../public/fonts/Dm/dm-sans-medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dm";
  src: url("../../public/fonts/Dm/dm-sans-regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
