.starsContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
  /* background:  linear-gradient(180deg, #242834 0%, #40475D 49.48%, #78829D 100%); */
}

$randomNumber: random(5);

.star {
  position: absolute;
  background-color: var(--star);
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 12px 1px rgba(193, 202, 244, .6);
  user-select: none;
  // animation-name: twinkle;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation: twinkle ;
  animation-iteration-count: infinite;
  // animation-duration: $randomNumber + s;
}

.fallingStar {
  position: absolute;
  height: 4px;
  background: linear-gradient(-45deg, #EAFF99, transparent);
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #EAFF99);
  z-index: 1;
  animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
  transform: rotate(45deg);
  transform-origin: top left;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    box-shadow: 0;
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tail {
  0% {
    width: 0;
    opacity: 0;
  }

  30% {
    width: 150px;
    opacity: .75;
  }

  70% {
    opacity: .75;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translate(0) rotate(45deg);
  }

  100% {
    transform: translate(300px, 300px) rotate(45deg);
  }
}