.wrapperImg {
    max-width: 74px;
    min-height: 40px;
    background-image: url("../../../../media//img/buttons/Change-of-topic.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    .button {
      padding: 7px 19px 7px 31px;
      background: none;
    }
  }