.answers {
  .answersText {
    color: var(--colors-white);
    text-align: center;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 55px;
    transition: 0.5s;
    
    @media (max-width:450px) {
        font-size: 32px;
    }
  }
  .answersSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 30px;

    @media (max-width:1104px) {
        text-align: center;
    }

    .answersBlock {
      max-width: 472px;
      .title {
        color: var(--colors-white);
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .subTitle {
        color: var(--colors-white);
        font-size: 16px;
        line-height: 24px;
        opacity: var(--opacity);
        
      }
    }
  }
}
