.customBg {
  max-width: 100%;
  min-height: 832px;
  background: var(--main-bg);
  display: flex;
  justify-content: center;
  transition: 0.5s;

  @media (max-width: 1180px) {
    min-height: 640px;
  }

  @media (max-width: 425px) {
    min-height: 690px;
  }

  .overlay {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    height: 68%;

    .overlayB {
      max-width: 770px;
      margin: auto;
      margin-bottom: 120px;

      @media (max-width: 1180px) {
        margin-bottom: 67px;
      }

      @media (max-width: 768px) {
        max-width: 630px;
      }

      @media (max-width: 630px) {
        max-width: 380px;
      }

      @media (max-width: 425px) {
        max-width: 300px;
      }
    }

    .heroText {
      text-align: center;
      font-weight: 700;
      font-size: 54px;
      background: var(--Gradient,
          linear-gradient(180deg, #c2252c 0%, #ed8127 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 70px;

      // @media (max-width: 768px) {
      //   font-size: 37px;
      //   line-height: normal;
      // }
      @media (max-width: 630px) {
        font-size: 32px;
        line-height: normal;
      }
    }

    .item {

      // color: var(--text-color);
      @media (max-width: 680px) {
        margin-bottom: 20px;
      }
    }

    .links {
      display: flex;
      gap: 30px;
      font-size: 18px;
      color: var(--text-light);
      text-align: center;

      @media (max-width: 680px) {
        display: block;
      }

      .itemTitle {
        width: 270px;
        font-weight: 700;
        margin-bottom: 30px;
        white-space: nowrap;

        @media (max-width: 1180px) {
          width: 100%;
        }

        @media (max-width: 680px) {
          margin-bottom: 15px;
        }
      }

      .itemSub {
        line-height: 28px;
        max-width: 270px;
      }
    }
  }
}
