.customBg {
  max-width: 100%;
  min-height: 832px;
  background: var(--main-bg);
  transition: 0.5s;

  @media (max-width: 1180px) {
    min-height: 640px;
  }

  .blur {
    background: var(--blur);
    height: 160px;
    transition: 0.5s all ease;
  }
  .blurT {
    background: var(--blur);
    height: 160px;
    transition: 0.5s all ease;
    transform: rotate(180deg);
  }

  .contactSection {
    display: flex;
    justify-content: center;

    .contact {
      max-width: 470px;
      .contactText {
        color: var(--colors-white);
        font-size: 42px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin-bottom: 32px;
      }
      .contactDesc {
        color: var(--colors-white);
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 40px;
      }
      .contactInfo {
        max-width: 270px;
        .contactTop {
          margin-bottom: 24px;
          .contactNumber {
            display: flex;
            align-items: center;
            color: var(--colors-white);
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
            .number {
              margin-right: 8px;
            }
          }
          .contactWorld {
            display: flex;
            color: var(--colors-white);
            font-family: Play;
            font-size: 16px;
            line-height: 24px;
            .dot {
              margin-right: 8px;
            }
          }
        }
        .contactBot {
          .socialText {
            color: var(--colors-white);
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 8px;
          }
          .socialLayout {
            margin-bottom: 8px;
            .socialDesc {
              color: var(--colors-white);
              font-size: 16px;
              line-height: 24px;
            }
            .socialIcon {
              display: flex;
              gap: 24px;
              color: var(--colors-white);
            }
          }
        }
      }
    }

    .contactBlur {
      position: relative;
    }
  }
}
