.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;

  .group {
    display: flex;
    align-items: center;
    gap: 12px;

    .checkbox {
      position: relative;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 7px;
      appearance: none;
      cursor: pointer;

      &:checked {
        background: var(
          --Gradient,
          linear-gradient(180deg, #c2252c 0%, #ed8127 100%)
        );
      }

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 8px;
        width: 5px;
        height: 9px;
        border: 2px solid transparent;
        border-left: none;
        border-top: none;
        transform: rotate(45deg) scale(1);
      }

      &:checked::before {
        border-color: black;
        animation: checkAnim 0.2s ease;
      }
    }

    label {
      color: var(--colors-white);
      font-size: 16px;
      line-height: 24px; /* 150% */
    }
  }
}

@keyframes checkAnim {
  from {
    transform: rotate(45deg) scale(0);
  }
}
