.workProcess {
  .workProcessText {
    color: var(--colors-white);
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 56px;
  }

  .workProcessItmes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--text-light);

    .items {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-bottom: 8px;
      transition: 0.3s all ease;

      .icon {
        width: 64px;
        height: 64px;
        cursor: pointer;
      }
      .title {
        color: var(--text-light);
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: -0.4px;
      }
    }
  }
  .hovered {
    opacity: 0.4;
  }
  .wrapper {
    position: relative;
    height: 600px;
    width: 1770px;
    padding: 32px 0;
    overflow-x: auto;
    .list {
      position: absolute;
      transition: 0.3s all ease;
      .subTitle {
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: var(--colors-white);
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin-bottom: 32px;
      }
    }
  }

}
