@import "@/styles/mixins.scss";

.card {
  position: relative;
  max-width: 570px;
  min-height: 520px;

  @include respond-to("sm") {
    max-width: 250px;
    min-height: auto;
  }
  &:hover {
    .img {
      filter: grayscale(0%);
    }
    filter: drop-shadow(0 0 9px whitesmoke) drop-shadow(0px 0 14px #ed8127)
      drop-shadow(-7px 0 66px #c2252c);
    transition: 0.2s;
    .cardWrapper {
      background: linear-gradient(90deg, #ed8127, #d75329, #c2252c);
      transition: 0.5s;
    }
    .cardBlur {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        140deg,
        rgba(249, 249, 249, 0.4) 14.88%,
        rgba(196, 196, 196, 0.08) 121.57%
      );
      transition: 0.2s;
    }
    .tag {
      color: var(--C1-F);
    }
  }

  .cardWrapper {
    max-width: 570px;
    clip-path: polygon(40px 0, 100% 0, 100% 481px, 531px 100%, 0 100%, 0 40px);
        @media (max-width:1181px) {
            clip-path: polygon(36px 0, 100% 0, 100% 481px, 475px 100%, 0 100%, 0 40px);
        }
        @media (max-width:1110px) {
            clip-path: polygon(36px 0, 100% 0, 100% 481px, 443px 100%, 0 100%, 0 40px);
        }
        @media (max-width:1050px) {
            clip-path: polygon(36px 0, 100% 0, 100% 502px, 416px 100%, 0 100%, 0 40px); 
        }
        @media (max-width:1050px) {
            clip-path: polygon(36px 0, 100% 0, 100% 502px, 403px 100%, 0 100%, 0 40px); 
        }
        @include respond-to("lg") {
            clip-path: polygon(40px 0, 100% 0, 100% 481px, 531px 100%, 0 100%, 0 40px);
        }
        @media (max-width:585px) {
            clip-path: polygon(36px 0, 100% 0, 100% 481px, 508px 100%, 0 100%, 0 40px); 
        }
        @media (max-width:576px) {
            clip-path: polygon(36px 0, 100% 0, 130% 194px, 234px 100%, 0 100%, 0 40px);
        }
  }

  .cardImg {
    max-width: 570px;
    background-image: url("./Placeholder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 520px;
    overflow: hidden;

    @include respond-to("sm") {
        max-width: 250px;
        min-height: auto;
      }
  }
}

.content {
  padding: 22px 30px 14px;
  transition: 0.4s;

  @include respond-to("sm") {
    padding: 7px 15px 8px;
  }
}

.img {
  width: 100%;
  height: 330px;
  filter: grayscale(100%);
  transition: 0.4s;

  @include respond-to("sm") {
    height: 161px;
  }
}

.title {
  color: var(--colors-white);
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;

  @include respond-to("sm") {
    color: var(--white, #fff);
    font-family: "Play";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
  }
}

.titleSub {
  color: var(--colors-white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 16px;

  @include respond-to("sm") {
    color: #ebeaed;

    font-family: "Play";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
  }
}

.tag {
  display: flex;
  color: var(--C2-A);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include respond-to("sm") {
    font-family: "Play";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 160% */
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.cursor {
  background: white;
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
