@import "@/styles/mixins.scss";

.title {
    color: var(--colors-white);
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 24px;
    text-align: center;
    margin-bottom: 40px;

    @include respond-to("lg") {
        color: var(--white, #FFF);
        text-align: center;
        font-family: "Play";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
}

.block {
    background: black;
    padding-top: 40px;
    // min-height: 986px;

}

.backgroundWrapper {
    // background-image: url('./4873acb46f525a1052f62d0f0364e528\ 4.png');
    // background-size: 100% 100%;
    min-height: 776px;
}

.contantBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.img {
    width: 246px;
    height: 266px;
    display: block;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 60px;
}

.col {

    &:nth-child(1),
    &:nth-child(3) {
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        // gap: 68px;
    }

    &:nth-child(2) {}
}

.itemBox {
    display: flex;
    padding: 8px 0;
    gap: 16px;
    flex-wrap: wrap;

    @include respond-to("lg") {
        justify-content: center;
        gap: 6px;

    }
}

.row {
    padding-bottom: 68px;
    transition: all 0.5s ease-out;

    &.open {
        padding-bottom: 16px;
    }
}

.item {
    border-radius: 8px;
    background: #313131;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: fit-content;

    @include respond-to("lg") {
        color: #FFF;

        text-align: center;
        font-family: "Play";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
}

.itemEmpty {
    border-radius: 8px;
    background: #313131;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: fit-content;
    opacity: 0;

    @include respond-to("lg") {
        display: none;
    }

}

.desctop {
    @include respond-to("lg") {
        display: none;
    }
}

.mobile {
    display: none;

    @include respond-to("lg") {
        display: block;
        max-width: 768px;
        margin: 0 auto;
    }
}

.imgBox {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.line {
    z-index: 0;

    &:nth-child(1) {
        position: absolute;
        bottom: 171px;
        left: 235px;
    }
}