@import "@/styles/mixins.scss";

.footerContainer {
  margin-bottom: 85px;
  margin-top: 140px;
}

.links {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  gap: 30px;
  margin-bottom: 34px;
}
.item {
  color: var(--primary);
  cursor: pointer;
}

.footerLine {
  border-bottom: 1px solid #bbb;
  margin-bottom: 58px;
}

.footerBot {
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}

.footerInsideMatters {
  display: flex;
  align-items: center;
  gap: 62px;
}

.policy {
  display: flex;
  align-items: center;
  gap: 72px;
}
