.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .iconContainer {
    position: relative;
  }
  .iconContent {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
  }