.services {
  max-width: 1170px;
  .servicesTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 450px) {
      justify-content: center;
    }

    .servicesText {
      color: var(--primary);
      font-size: 42px;
      line-height: 48px;
      font-weight: 700;
      letter-spacing: -0.4px;

      @media (max-width: 450px) {
        font-size: 24px;
        line-height: 24px;
      }
    }
    
  }

  .containerImg {
    background: var(--services-bg);
    position: relative;
    width: 100%;

    @media (max-width: 1200px) {
      max-width: 585px;
      width: 100%;
      margin: 0 auto;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      border-style: solid;
      z-index: 10;
    }
    &::before {
      top: 0;
      border-width: 40px 40px 0 0;
      border-color: var(--primary-bg) transparent transparent transparent;
    }
    &::after {
      bottom: 0;
      border-width: 0 0 40px 40px;
      border-color: transparent transparent var(--primary-bg) transparent;
      right: 0;
    }
    @media (max-width: 768px) {
      &::before {
        border-width: 20px 20px 0 0;
      }
      &::after {
        border-width: 0 0 20px 20px;
      }
    }
  }

  .colon {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
    .colonBlock {
      max-width: 585px;
      height: 352px;
      position: relative;
      transition: 0.5s;

      @media (max-width: 350px) {
        height: 232px;
      }

      &.margined {
        @media screen and (min-width: 1200px) {
          margin-top: -40px;
          .content {
            padding-top: 100px;
          }
        }
      }
      // background-color: #1F1F1F;

      .colorFill {
        color: var(--C3-A);
        position: absolute;
        max-width: 100%;
        z-index: 0;
        width: 100%;
        max-width: 585px;
        transition: 0.5s;

        @media (max-width: 350px) {
          height: 232px;
        }
        &.ratated {
          transform: rotate(180deg);
        }
      }
      &:hover {
        .colorFill {
          path {
            fill-opacity: 0;
          }
        }
      }

      .content {
        padding: 59px 85px 48px 70px;
        position: relative;
        z-index: 1;
        transition: 0.5s;
        @media (max-width: 600px) {
          padding: 20px 60px 0px 70px;
        }
        @media (max-width: 460px) {
          padding: 16px 15px;
        }

        .title {
          color: var(--colors-white);
          font-size: 22px;
          line-height: 32px;
          font-weight: 700;
          margin-bottom: 18px;

          @media (max-width: 350px) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
          }
        }
        .titleSub {
          color: var(--colors-white);
          font-family: Play;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 59px;
          opacity: 0.8;

          @media (max-width: 425px) {
            line-height: 18px;
          }
          @media (max-width: 350px) {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
