// $red-color: #C2252C;
// $orange-color: #ED8127;

.containerNav {
  max-width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .logo {
    cursor: pointer;
    position: relative;
    z-index: 15;

    &.mobile {
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    &.desctop {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .menu {
    display: contents;

    .menuIcon {
      display: none;

      @media (max-width: 1024px) {
        display: block;
        height: 15px;
        width: 24px;
        position: relative;
        cursor: pointer;

        span {
          transition: all 0.3s ease 0s;
          top: calc(50% - 1px);
          left: 0;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: var(--primary);
          z-index: 15;

          &:first-child {
            top: 0;
          }

          &:last-child {
            top: auto;
            bottom: 0;
          }
        }

        &.active {
          span {
            transform: scale(0);

            &:first-child {
              transform: rotate(-45deg);
              top: calc(50% - 1px);
            }

            &:last-child {
              transform: rotate(45deg);
              bottom: calc(50% - 1px);
            }
          }
        }
      }
    }
  }
}

.linksItem {
  @media (max-width: 1024px) {
    display: flex;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 7px;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin: auto;
      white-space: nowrap;
    }

    .item {
      color: var(--primary);
      cursor: pointer;

      @media (max-width: 1024px) {
        // line-height: 50px;
        font-size: 30px;
      }

      @media (max-width: 425px) {
        // line-height: 50px;
        font-size: 20px;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;

  .button {
    display: none;
  }

  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 170px;
    margin: 0 auto;
    row-gap: 12px;
    column-gap: 4px;

    .button {
      display: block;
      grid-column: 1/3;
      background: url('./Rectangle.png');
      background-position: center center;
      background-repeat: no-repeat;
      width: 170px;
      height: 40px;

      color: var(--Colors-White, #FFF);
      text-align: center;
      font-family: "Play";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }

    a {
      display: none;
    }

    div {
      &:nth-child(1) {
        justify-self: end;

      }

      &:nth-child(2) {
        justify-self: start;
      }
    }
  }

  @media (max-width: 425px) {
    flex-direction: column-reverse;
  }
}

.menuBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1024px) {
    justify-content: flex-start;

    background: black;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    // background-color: var(--C1-A-to-C1-B);
    z-index: 10;
    overflow: auto;
    padding: 20px 0;
    transition: 0.5s;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    &.active {
      left: 0;
    }
  }

}