.box {
    width: 40px;
    padding: 8px;
    
}

.item {
    cursor: pointer;
    color: #003896;
    text-align: center;
    font-size: 18px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
