

.corner {
    --border-width: 3px;
    --edge-size: 20px;
    --padding: padding;
    --width: width,
    --height: height,
    
    
    cursor: pointer;
    position: relative;
    display: flex;
    // background: white;
    padding: var(--padding);
    height: var(--height);
    width: var(--width);
    border: 0;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
      );
  }
  .corner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    // opacity: 0.3;
    z-index: -2;
    
  }

  .corner:hover::before {
    background: linear-gradient(90deg, #ed8127, #d75329, #c2252c);
    transition: 0.5s all ease;
  }
  
  .corner::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: 0.5s all ease;
    clip-path: polygon(
      /* // top left 1 */
      var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
      /* // top left 2 */
      calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
      /* // top right */
      calc(100% - var(--border-width)) var(--border-width),
      /* //bottom right - 1 */
      calc(100% - var(--border-width))
        calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      /* // bottom right - 2 */
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* // bottom left */
      calc(var(--border-width)) calc(100% - var(--border-width))
    );
  }
  .corner:hover:after {
background: linear-gradient(
    140deg,
    rgba(249, 249, 249, 0.4) 14.88%,
    rgba(196, 196, 196, 0.08) 121.57%
  );
  }
  